@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300&family=Titillium+Web:wght@900&display=swap');

@font-face {
    font-family: 'MathJaxFont';
    src:  url('/MathJax_Math-Regular.woff') format('woff');
  }

  @font-face {
    font-family: 'OracleSans';
    src:  url('/OracleSans_W_Rg.woff') format('woff');
  }

  @font-face {
    font-family: 'ArialRounded';
    src:  url('/arial-rounded-mt-regular.woff') format('woff');
  }

  @font-face {
    font-family: 'ArialRounded';
    font-weight: bold;
    src:  url('/arial-rounded-mt-bold.woff') format('woff');
  }

  body {
    font-family: 'ArialRounded';
  }
  h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
    padding: 0;
    margin: 0;
  }
  p {
    margin: 0;
  }
  a {
    cursor: none;
    color: black;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

@keyframes changeColor {
    0%{
        background-color: red;
    }
    25%{
        background-color: green;
    }
    50%{
        background-color: blue;
    }
    75%{
        background-color: yellow;
    }
    100%{
        background-color: red;
    }
}

html, body {
  margin: 0;
}

#desk {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50vw;
  height: 33.9vw;
  transform: translate(-50%,-50%);
  box-shadow: black 0px 0px 25px;
  perspective: 130vw;
  #desk-image {
    width: 100%;
    position: absolute;

  }
  #paper-loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 104%;
    height: 90%;

    transform: translate(-5.9%, -14.7%) scale(0.4) rotateY(22deg) rotateX(-31deg) rotateZ(-12.6deg);
    // background: linear-gradient(-45deg, black, white);
    background: white;
    canvas {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

#site {
    margin: 1rem;
    cursor: none!important;
    min-height: calc(100vh - 2rem);
}

.nav{
    .logo {
        height: 75px;
        width: auto;
    }
    .nav-links {
        display: flex;
        gap: 1rem;
        position: absolute;
        right: 1rem;
        top: 1rem;
    }
    .nav-link {
        color: red;
    }
  }


.projects {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 4rem 1rem;
    padding-right: 1rem;
}
.project {
    display: block;
    position: relative;
    .project-image-thumb-container {
      height: 100%;
      flex: 1 0 auto;
      display: inline-block;
    }
}

@media (max-width: 768px) {
    .projects {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}


.main-images {
  height: 300px;
  overflow: hidden;
  box-shadow: black 0 0 3px;
  margin-top: 1rem;
  position: relative;
  .marquee {
    height: 100%;
      margin: 0;
      gap: 1rem;
      // display: flex;
  }
  .media-block {
      .media{
          margin: 10px;
          width: auto;
      }
  }
}

#myCanvas {
    z-index: -1;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    //temporary!!!!!
    display: none;
}

.project-content {
    font-family: ArialRounded;
}

.cursor {
  cursor: none!important;
  pointer-events: none;
  z-index: 9000;
  width: 20px;
  height: 20px;
  // width: 150px;
  // height: 130px;
  // border: 2px solid rgb(0, 0, 0);
  position: fixed;
  top: 0;
  left: 0;
  filter: drop-shadow(rgba(0,0,0,.3) 0px 0px 2px);
  .rotator {
    // transition: transform .2s;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/mouse.png');
    background-image: url('/mouse.svg');
    background-size: contain;
    background-position: top left;
    transform-origin: 5% 5%;
    background-repeat: no-repeat;
  }
  // transition: transform .01s;
  .arrow {
      width: 150px;
      height: auto;
      position: fixed;
      // transform: translate(-50%, 15%);
      z-index: -23339;
  }
  // border-radius: 50%;
  // border: 10px solid black;
}
