@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300&family=Titillium+Web:wght@900&display=swap');

@font-face {
    font-family: 'MathJaxFont';
    src:  url('/MathJax_Math-Regular.woff') format('woff');
  }

  @font-face {
    font-family: 'OracleSans';
    src:  url('/OracleSans_W_Rg.woff') format('woff');
  }

  @font-face {
    font-family: 'ArialRounded';
    src:  url('/arial-rounded-mt-regular.woff') format('woff');
  }

  @font-face {
    font-family: 'ArialRounded';
    font-weight: bold;
    src:  url('/arial-rounded-mt-bold.woff') format('woff');
  }

  body {
    font-family: 'ArialRounded';
    font-size: 28px;
  }
  h1 {
    color: red;
  }
  h2,h3,h4,h5,h6 {
    font-weight: bold;
    padding: 0;
    margin: 0;
  }
  h3 {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: normal;
    font-size: 1rem;
  }
  p {
    // margin: 0;
  }
  a {
    cursor: none;
    color: red;
    transition: text-shadow .3s;
    &:hover {
      text-shadow: blue 1px 1px .05em;
    }
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

@keyframes changeColor {
    0%{
        background-color: red;
    }
    25%{
        background-color: green;
    }
    50%{
        background-color: blue;
    }
    75%{
        background-color: yellow;
    }
    100%{
        background-color: red;
    }
}

html, body {
  margin: 0;
}

#desk {
  // position: fixed;
  // transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  width: 50vw;
  height: 33.9vw;
  box-shadow: black 0px 0px 25px;
  perspective: 130vw;
  margin: 4rem auto;
  #desk-image {
    width: 100%;
    position: absolute;

  }
  &.pic-0 {
      perspective: 298vw;
      perspective: 738vw;
    #paper-loader {
      width: 110%;
      transform: translate(-9.6%, 9.3%) scale(0.36) rotateY(53deg) rotateX(-13deg) rotateZ(-15.6deg);
      transform: translate(-12.1%, 9.8%) scale(0.358) rotateY(53deg) rotateX(-15deg) rotateZ(-17.6deg);
      border-radius: 4vw;
    }
  }
  #paper-loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 104%;
    height: 90%;
    transform: translate(-5.9%, -14.7%) scale(0.4) rotateY(22deg) rotateX(-31deg) rotateZ(-12.6deg);
    // background: linear-gradient(-45deg, black, white);
    background: white;
    canvas {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

#site {
    padding: 1rem;
    cursor: none!important;
    min-height: calc(100vh - 2rem);
    #backdrop {
      position: fixed;
      top: 0;
      left: 0;
    }
}

@keyframes spinBG {
  0% {
    background: linear-gradient(0deg, red, green,blue);
  }
  100% {
    background: linear-gradient(360deg, red, green,blue);
  }
}

#welcome {
  display: inline-block;
  white-space: nowrap;
  font-size: calc(100vw / 7);
  // animation: spinBG 3s linear infinite;
  background: linear-gradient(333deg, red, green,blue);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  // margin-right: -50px;
}

.nav{
  display: flex;
  justify-content: space-between;
    .logo {
        height: 50px;
        width: auto;
    }
    .site-title {
      position: absolute;
      // -webkit-text-stroke: black 1px;
      left: 50%;
      color: transparent;
      transform: translateX(-50%);
      background-clip: text;
      -webkit-background-clip: text;
      font-size: 3rem;
      font-weight: bold;
    }
    .nav-links {
        display: flex;
        gap: 1rem;
        // position: absolute;
        right: 1rem;
        top: 1rem;
    }
    .nav-link {
        color: red;
        &:hover {
          color:blue;
          text-decoration-color: green;
        }
    }
  }

.recent-news {
  background: rgb(255,255,255,.6);
  box-shadow: 0 0 110px 60px rgb(255,255,255,.6);
}

.content-blocks {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 800px;
  margin: 0 auto;
  ul {
    margin: 0 0 1rem 0;
    padding: 1rem;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 2rem;
    &:nth-child(3n + 1){
      li:before {
        background: red;
      }
    }
    &:nth-child(3n + 2){
      li:before {
        background: green;
      }
    }
    &:nth-child(3n){
      li:before {
        background: blue;
      }
    }
    li {
      flex: 0 0 auto;
      position: relative;
      line-height: 1.5rem;
      &:before {
        content: "";
        position: absolute;
        left: -1rem;
        top: .4rem;
        width: .5rem;
        height: .5rem;
        border-radius: 2rem;
      }
    }
  }
}

.projects {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 4rem 4rem;
    padding-right: 1rem;
}
.project {
    display: block;
    position: relative;
    .project-title {
      margin-bottom: 0rem;
    }
    .project-image-thumb-container {
      height: 100%;
      flex: 1 0 auto;
      display: inline-block;
    }
}

@media (max-width: 768px) {
    .projects {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}


.main-images {
  height: 300px;
  overflow: hidden;

  margin-top: 1rem;
  position: relative;
  .marquee {
    height: 100%;
      margin: 0;
      gap: 1rem;
      // display: flex;
  }
  .media-block {
      .media{
          margin: 10px;
          width: auto;
          box-shadow: black 0 0 3px;
      }
  }
}

#myCanvas {
    z-index: -1;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    //temporary!!!!!
    display: none;
}

.project-content {
    font-family: ArialRounded;
}

.cursor {
  cursor: none!important;
  pointer-events: none;
  z-index: 9000;
  width: 20px;
  height: 20px;
  // width: 150px;
  // height: 130px;
  // border: 2px solid rgb(0, 0, 0);
  position: fixed;
  top: 0;
  left: 0;
  filter: drop-shadow(rgba(0,0,0,.3) 0px 0px 2px);
  .rotator {
    // transition: transform .2s;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/mouse.png');
    background-image: url('/mouse.svg');
    background-size: contain;
    background-position: top left;
    transform-origin: 5% 5%;
    background-repeat: no-repeat;
  }
  // transition: transform .01s;
  .arrow {
      width: 150px;
      height: auto;
      position: fixed;
      // transform: translate(-50%, 15%);
      z-index: -23339;
  }
  // border-radius: 50%;
  // border: 10px solid black;
}
