@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300&family=Titillium+Web:wght@900&display=swap');

@font-face {
    font-family: 'MathJaxFont';
    src:  url('/MathJax_Math-Regular.woff') format('woff');
  }

  @font-face {
    font-family: 'OracleSans';
    src:  url('/OracleSans_W_Rg.woff') format('woff');
  }  

@keyframes changeColor {
    0%{
        background-color: red;
    }
    25%{
        background-color: green;
    }
    50%{
        background-color: blue;
    }
    75%{
        background-color: yellow;
    }
    100%{
        background-color: red;
    }
}

html, body {
    margin: 0;
}

#nav{
    border: solid black 1px;
    .nav-link {
        color: red;
        &:first-child {
            color: green;
        }
    }
}

.projects {
    display: block;
}

.main-images {
    display: flex;
    width: 70%;
    .media-block {
        display: flex;
        .media{
            margin: 10px;
        }
    }
}

#myCanvas {
    z-index: -1;
    border: solid black 1px;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0.3;
}

.article {
    font-family: 'Titillium Web', sans-serif;
}

.project-content {
    font-family: OracleSans;
}